<%= form_for(@recipe_ingredient) do |f| %>
  <% if @recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% @recipe_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :recipe_id, :value => @recipe_id %>
</div>
 <div class="field">
    <%= f.label :ingredient %><br />
    <%= f.select(:ingredient_id, @ingredients.map { |value| [ value.name + " - " + value.unit, value.id] }) %>
  </div>
  <div class="field">
      <%= f.label :quantity %><br />
      <%= f.number_field :quantity , in: 1...1000 %>
  </div>

    <div class="actions">
    <%= f.submit tag="Save" %>
      <%= link_to image_tag("back.png"), recipe_path(@recipe_id) %>

    </div>


<% end %>
