<% provide(:title, 'Add Recipe') %>
<%= render 'layouts/userheader' %>
<div class="container">
    <div class="row">
        <%= render 'layouts/userleftnav' %>
        <div class="span5">

            <%= render 'form' %>

            <%= link_to 'Show', @recipe_category %> |
            <%= link_to 'Back', recipe_categories_path %>
        </div>
    </div>
</div>