<% provide(:title, 'Categories') %>
<%= render 'layouts/userheader' %>
<div class="container">
    <div class="row">
        <%= render 'layouts/userleftnav' %>
        <div class="span5">

        <table class=table>
          <thead>
            <th>Categories</th>
          </tr>

        <% @recipe_categories.each do |recipe_category| %>
          <tr>
            <td><%= recipe_category.name %></td>
            <td><%= link_to 'Edit', edit_recipe_category_path(recipe_category) %></td>
            <td><%= link_to 'Destroy', recipe_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>
        <%= will_paginate %>

        <br />
        <%= link_to ' New recipe category', new_recipe_category_path %>

        </div>
    </div>
</div>
