<div id="steps">
  <% if @steps.count > 0 %>
      <table class="table table-striped"  >
        <thead>

        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @steps.order(:sequence).each do |step| %>
            <tr>
              <td><%= step.sequence %></td>
              <td><%= step.activity %> </td>
              <td> <%=  step.time.to_s + " minutes " %></td>
              <td>  <%= link_to image_tag("edit.png"), edit_step_path(step,:recipe_id => @recipe.id) %> </td>
              <td> <%= link_to image_tag("delete.png"), step, method: :delete, data: { confirm: 'Are you sure?' } %>    </td>


        <%end %>
        </tbody>
      </table>
  <%end%>
</div>
