<% provide(:title, "Edit recipe") %>
<%= render 'layouts/userheader' %>
<h1>Editing recipe</h1>

<div class="container">
    <div class="row">
        <%= render 'layouts/userleftnav' %>
        <div class="span5">
            <%= render 'form' %>

            <%= link_to 'Show', @recipe %> |
            <%= link_to 'Back', recipes_path %>

        </div>
    </div>
</div>