<% provide(:title, "Edit recipe") %>
<%= render 'layouts/userheader' %>

<div class="container">
    <div class="row">
        <%= render 'layouts/userleftnav' %>
        <div class="span5">
          <b>Edit recipe</b>
            <%= render 'form' %>

            <%= link_to 'Show', @recipe %> |
            <%= link_to 'Back', recipe_path %>

        </div>
    </div>
</div>