<% provide(:title, "All recipes") %>
<%= render 'layouts/userheader' %>

<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">

      <b> Recipes </b></br>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Serves</th>
          <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <% @recipes.each do |rp| %>
            <tr>
            <td><%=  rp.name  %></tr>
            <td><%= rp.quantity.to_s %></td>
            <% preptime=rp.presteps.pluck(:time).sum %>
            <% steptime=rp.steps.pluck(:time).sum %>
            <td><%= preptime+steptime %></td>
            <td><%= rp.recipe_category_id %></td>
            <td><%= link_to 'Show', rp %></td>
            <td><%= link_to 'Edit', edit_recipe_path(rp) %></td>
            <td><%= link_to 'Destroy', rp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to  "Add new", new_recipe_path(:user_id => "#{@user.id}")  %>

    </div>
  </div>
</div>

