<%if !params[:nolayout] %>
<% provide(:title, "All recipes") %>
<%= render 'layouts/userheader' %>

<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span8">

      <b> Recipes </b></br>
<%end%>
       <div id="datatable">
      <table class="table table-striped"  >
        <thead>
        <tr>
          <th>Name</th>
          <th>Serves</th>
          <th>Time</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @recipes.each do |rp| %>
            <tr>
            <td style="overflow: hidden"><%=  rp.name  %></td>
            <td><%= rp.quantity.to_s %></td>
            <% preptime=rp.presteps.pluck(:time).sum %>
            <% steptime=rp.steps.pluck(:time).sum %>
            <td><%= preptime+steptime %></td>
            <td><%= link_to 'Show', rp %></td>
            <td><%= link_to 'Edit', edit_recipe_path(rp) %></td>
            <td><%= link_to 'Destroy', rp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
         </div>
<% if !params[:nolayout] %>
      <%= link_to  "Add new", new_recipe_path  %>


      <%if @recipes.count!=0 %>
         <%= link_to  "Next 10", recipes_path(:start_range => @recipes.last.id , :nolayout => true) , remote:true  %>
      <%end%>
    </div>
  </div>
</div>

<%end%>


