<% provide(:title, 'Add Recipe') %>
 <%= render 'layouts/userheader' %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@recipe) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>
 
      <%= f.label :Serves %>
      <%= f.number_field :quantity %>

      <% categories=RecipeCategory.all %>
       <%= f.label :Category %>
      <%= f.select(:recipe_category_id, categories.map { |value| [ value.name, value.id ] })%>

       <%= f.hidden_field :user_id , :value => params[:user_id] %>

       <br/>       

      <%= f.submit "Create recipe" %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', recipes_path %>
