<% provide(:title, 'Show Recipe') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">


      <p>
        <b>Name:</b>
        <%= @recipe.name %>
        <%= link_to image_tag("edit.png"), edit_recipe_path(@recipe) %>

      </p>

      <p>
        <b>Description:</b>
        <%= @recipe.description %>
        <%= link_to image_tag("edit.png"), edit_recipe_path(@recipe) %>
      </p>

      <p>
        <b>Serves:</b>
        <%= @recipe.quantity %>
        <%= link_to image_tag("edit.png"), edit_recipe_path(@recipe) %>
      </p>

      <p>

      <p>
        <b>Recipe category:</b>
        <% if @category.first %>
            <%= @category.first.name %>
        <%end%>
        <%= link_to image_tag("edit.png"), edit_recipe_path(@recipe) %>
      </p>



      <p>
        <b>Ingredients:</b></br>
        <%= render 'recipeingredients'%>
        <%= link_to "Add new #{image_tag('go.png')}".html_safe, new_recipe_ingredient_path(:recipe_id => "#{@recipe.id}") %>
      </p>


      <p>
        <b> Mise en place:</b>
        <%= render 'presteps' %>
        <%= link_to "Add new #{image_tag('go.png')}".html_safe, new_prestep_path(:recipe_id => "#{@recipe.id}") %>
      </p>


      <p>
        <b> Steps:</b>
        <%=render 'steps' %>
        <%= link_to "Add new #{image_tag('go.png')}".html_safe, new_step_path(:recipe_id => "#{@recipe.id}") %>
      </p>

      </br>
      <%= link_to image_tag("back.png"), recipes_path(:user_id => "#{@recipe.user_id}") %>

    </div>


  </div>
</div>
