<% provide(:title, 'Show Recipe') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">



        <p>
          <b>Name:</b>
          <%= @recipe.name %>
        </p>

        <p>
          <b>Description:</b>
          <%= @recipe.description %>
        </p>

        <p>
          <b>Serves:</b>
          <%= @recipe.quantity %>
        </p>

        <p>
          <b>Recipe category:</b>
          <%= @recipe.recipe_category_id %>
        </p>

        <p>
          <b>Recipe category:</b>
          <%= @recipe.recipe_category_id %>
        </p>


        <p>
          <b>Ingredients:TBD</b>
          </p>


        <p>
          <b> Mise en place:</b>     </br>
          <% @presteps.order(:sequence).each do |prestep| %>
             <%= prestep.activity + "   " + prestep.time.to_s + " minutes" %> </br>
          <%end %>
          <%= link_to 'Add new', new_prestep_path(:recipe_id => "#{@recipe.id}") %>
        </p>


        <p>
          <b> Steps:</b>
          <% @steps.each do |step| %>
              <%= step.activity+ "   " + step.time.to_s + " minutes" %>    </br>
          <%end %>
          <%= link_to 'Add new', new_step_path(:recipe_id => "#{@recipe.id}") %>
        </p>


        <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
        <%= link_to 'Back', recipes_path(:user_id => "#{@recipe.user_id}") %>
     </div>

  </div>
</div>