<% provide(:title, @user.name) %>
<%= render 'layouts/userheader' %>

<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">

      <b> Recipes </b></br>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Serves</th>
          <th>Time</th>
        </tr>
         </thead>
         <tbody>
            <% @recipes.each do |rp| %>
                <%= "<tr>".html_safe %>
                <%= "<td>".html_safe + rp.name + " </td>".html_safe  %>
                <%= "<td>".html_safe + rp.quantity.to_s + " </td>".html_safe  %>
                <% preptime=rp.presteps.pluck(:time).sum %>
                <% steptime=rp.steps.pluck(:time).sum %>
                <%= "<td>".html_safe + preptime+steptime.to_s + " </td>".html_safe  %>
                <%= " </tr>".html_safe %>
            <% end %>
        </tbody>
        </table>

      <%= link_to  "Add new", new_recipe_path(:user_id => "#{@user.id}")  %>

    </div>
  </div>
</div>


<br/>
