<% provide(:title, 'Ingredients') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">
      <b>Ingredients</b>
      <table class="table table-striped">
        <thead></thead>
        <tr>
          <th>Name</th>
          <th>Unit</th>
          <th>Ingredient category</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.unit %></td>
              <td><%= ingredient.ingredient_category_id %></td>
              <td><%= link_to 'Show', ingredient %></td>
              <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
              <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </table>
      </tbody>

      <br />

      <%= link_to 'New Ingredient', new_ingredient_path %>
    </div>
  </div>
</div>
