<h1>Listing steps</h1>

<table>
  <tr>
    <th>Sequence</th>
    <th>Activity</th>
    <th>Time</th>
    <th>Recipe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.sequence %></td>
    <td><%= step.activity %></td>
    <td><%= step.time %></td>
    <td><%= step.recipe_id %></td>
    <td><%= link_to 'Show', step %></td>
    <td><%= link_to 'Edit', edit_step_path(step) %></td>
    <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_step_path %>
