<p id="notice"><%= notice %></p>

<p>
  <b>Sequence:</b>
  <%= @step.sequence %>
</p>

<p>
  <b>Activity:</b>
  <%= @step.activity %>
</p>

<p>
  <b>Time:</b>
  <%= @step.time %>
</p>

<p>
  <b>Recipe:</b>
  <%= @step.recipe_id %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
